#cart-icon {
    position: relative;
}

#cart-icon[data-count]::after {
    content: attr(data-count);
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
